{% extends "base.html" %}
{% block content %}

<div id="content">
    <h1>Dashboard</h1>

    <article class="card">
        <h2>Tasks to do</h2>
        <p>12</p>
    </article>
    <article class="card">
        <h2>Tasks to do</h2>
        <p>12</p>
    </article>
    <article class="card">
        <h2>Tasks to do</h2>
        <p>12</p>
    </article>
    <article class="card">
        <h2>Tasks to do</h2>
        <p>12</p>
    </article>
    <article class="card">
        <h2>Tasks to do</h2>
        <p>12</p>
    </article>
</div>


{% endblock content %}